/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../../sass/screen.scss */
body {
  border-top: 1px solid #808080;
}

/* line 14, ../../sass/screen.scss */
body * {
  font-family: 'Segoe UI', Arial, Geneva, sans-serif;
  font-size: 15px;
}

/* line 19, ../../sass/screen.scss */
div.outer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  bottom: 6rem;
  overflow-x: hidden;
  overflow-y: auto;
}
/* line 29, ../../sass/screen.scss */
div.outer div.panels {
  width: 27rem;
  margin: 0 auto;
  padding: 0;
  height: auto;
  overflow: hidden;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
}
/* line 39, ../../sass/screen.scss */
div.outer div.panels.message {
  height: 3rem;
  padding: 4rem 0;
  background-color: #808080;
  color: white;
  line-height: 2rem;
  text-align: center;
}
/* line 48, ../../sass/screen.scss */
div.outer div.panels > div {
  position: relative;
  width: calc(9rem - 1px);
  padding: 0;
  margin: 0;
  height: 5rem;
  border-right: 1px solid #808080;
  float: left;
}
/* line 57, ../../sass/screen.scss */
div.outer div.panels > div .dayName {
  font-weight: normal;
  font-size: .8rem;
  position: absolute;
  right: 3rem;
  left: 3rem;
  text-align: center;
  bottom: 0.5rem;
}
/* line 67, ../../sass/screen.scss */
div.outer div.panels > div > img {
  position: absolute;
  left: calc(50% - 1.25rem);
  top: 1rem;
  width: 2.5rem;
}
/* line 74, ../../sass/screen.scss */
div.outer div.panels > div .temperature {
  font-size: 1rem;
  font-weight: normal;
  position: absolute;
  right: 0.5rem;
  text-align: center;
  width: 2rem;
  top: 1.7rem;
}
/* line 84, ../../sass/screen.scss */
div.outer div.panels > div:first-child {
  width: calc(100% - 1px);
  height: 6.5rem;
  border-right: none;
  border-bottom: 1px solid #808080;
}
/* line 90, ../../sass/screen.scss */
div.outer div.panels > div:first-child > img {
  position: absolute;
  left: calc(50% - 30px);
  top: 2.2rem;
  width: auto;
}
/* line 97, ../../sass/screen.scss */
div.outer div.panels > div:first-child .city {
  position: absolute;
  left: 5rem;
  right: 5rem;
  display: block;
  top: 0.7rem;
  font-size: .9rem;
  text-align: center;
}
/* line 107, ../../sass/screen.scss */
div.outer div.panels > div:first-child .desc {
  position: absolute;
  text-align: center;
  top: 5rem;
  width: 7rem;
  right: 1rem;
}
/* line 115, ../../sass/screen.scss */
div.outer div.panels > div:first-child .temperature {
  font-size: 4rem;
  position: absolute;
  right: 1rem;
  text-align: center;
  width: 6rem;
  top: 1rem;
}
/* line 124, ../../sass/screen.scss */
div.outer div.panels > div:first-child .dayName {
  font-weight: bold;
  font-size: 1.2rem;
  position: absolute;
  top: 2.5rem;
  left: 1.5rem;
  bottom: auto;
  text-align: left;
}
/* line 135, ../../sass/screen.scss */
div.outer div.panels > div:last-child {
  border-right: none;
}
/* line 141, ../../sass/screen.scss */
div.outer div.zip {
  padding: 2rem 1rem;
  text-align: center;
}
/* line 144, ../../sass/screen.scss */
div.outer div.zip > * {
  display: inline-block;
  margin: 0 0.2rem;
}
/* line 151, ../../sass/screen.scss */
div.outer div.zip input[type=text] {
  width: 4rem;
}

/* line 157, ../../sass/screen.scss */
body > footer {
  position: fixed;
  text-align: center;
  bottom: 1rem;
  left: 0;
  right: 0;
  height: 3rem;
  background-image: url("/images/wundergroundLogo_4c_horz.png");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
/* line 170, ../../sass/screen.scss */
body > footer > span {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 3rem;
  height: 1rem;
  font-size: 0.6rem;
  font-style: oblique;
  line-height: 0.5rem;


}


div.weatheroutline{
  text-align:center;

}
footer span{
  text-align: right;
  font-size: 22px !important;
}

@media (max-width: 420px) {
  /* line 186, ../../sass/screen.scss */
  div.outer div.panels {
    width: 100%;
    margin: 0 auto;
    border: none;
  }
  /* line 191, ../../sass/screen.scss */
  div.outer div.panels > div {
    width: 100%;
    float: none;
    border-bottom: 1px solid #808080;
    border-right: none;
  }
  /* line 192, ../../sass/screen.scss */
  div.outer div.panels > div:first-child {
    width: 100%;
  }
  /* line 201, ../../sass/screen.scss */
  div.outer div.panels > div img {
    left: 1rem;
    right: auto;
  }
  /* line 206, ../../sass/screen.scss */
  div.outer div.panels > div .dayName {
    left: 4rem;
    right: 4rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    top: 1.8rem;
  }
}
